@import "@repo/tailwind-config";

.base-style {
  @apply inline-flex items-center justify-center rounded-lg px-7 py-2.5 font-normal transition-colors focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-40 cursor-pointer text-sm;
}

.contained {
  @apply bg-brand text-brand-foreground hover:bg-outline-hover active:bg-outline-active transition-all duration-300;
}

.outline {
  @apply border-[0.5px] border-solid border-dim-gray bg-transparent text-text-primary hover:bg-brand/10 active:bg-brand/20 transition-all duration-300;
}

.text {
  @apply text-text-primary hover:bg-brand/10 active:bg-brand/20 transition-all duration-300;
}

.icon-button-base {
  @apply inline-flex items-center justify-center rounded-lg transition-colors focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50 cursor-pointer aspect-square px-2 py-2;
}

.link {
  @apply text-text-primary hover:text-outline-hover active:bg-outline-active transition-all duration-300 text-xs md:text-sm tracking-wide underline;
}